[CLUSTER]
HOST= 'sparkifycluster.cstzizijmqnl.us-west-2.redshift.amazonaws.com'
DB_NAME=sparkifydwh
DB_USER=dwhuser
DB_PASSWORD=myPassw0rd
DB_PORT=5439

[IAM_ROLE]
ARN='arn:aws:iam::473589573154:role/sparkifydwhRole'

[S3]
LOG_DATA='s3://udacity-dend/log_data'
LOG_JSONPATH='s3://udacity-dend/log_json_path.json'
SONG_DATA='s3://udacity-dend/song_data'


##ADDED
[AWS]
KEY= AKIAW4RBDMYRDLHYW3PQ
SECRET= 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

[DWH] 
DWH_CLUSTER_TYPE=multi-node
DWH_NUM_NODES=4
DWH_NODE_TYPE=dc2.large

DWH_IAM_ROLE_NAME=sparkifydwhRole
DWH_CLUSTER_IDENTIFIER=sparkifyCluster
DWH_DB=sparkifydwh
DWH_DB_USER=dwhuser
DWH_DB_PASSWORD=myPassw0rd
DWH_PORT=5439

